	<script src="angularjs/controllers/performAnimation.js" type="text/javascript"></script>
	
	<div class="header-include" ng-include="'templates/header.html'"></div>
	 
    <!-- Contact Section -->
    <div id="detailsFoodcoin" class="container text-center" style="padding-bottom: 5%;padding-top: 7%;">
        <div class="container">
        	<div class="row samplescreen-vid-bg <!-- animation-element3 bounce-up -->">
        		<div class="class-md-12" style="text-align: justify;padding-left: 15px;padding-right: 15px;padding-top: 25px">
        			<div class="">
        				<h2>Learn what all do we do !!!</h2>
		                <p>We aspire that food goes to good use and the least amount possible is lost on its journey to our plates.</p>
		                <p>10 percent of food purchased by restaurants becomes kitchen loss before reaching the consumer. Other drivers of waste include inflexibility of store management, and pressure to maintain enough food supply to offer extensive menu choices at all times.</p>
		                <p>Another significant portion is served but never eaten, called Plate Waste, resulting from large quantities and undesired accompaniments. On average, diners leave 17 percent of meals uneaten.</p>
		                <p>Extensive menu choices make it challenging to achieve proper inventory management because large menus require more inventory to be on hand at all times. Unexpected sales fluctuations also make planning difficult.</p>
 						<p>We predict the number of customers and the food items required beforehand, to ease that process.</p>
        			</div>
        		</div>
        	</div>
        	
        	<div class="animation-element2 slide-right">
				<div class="row" class="divDecoration"
					style="height: 250px; /*  background-color:#000000 */; margin-top: 5%;">
					<!-- <div class="iconImageDiv" style="height:inherit;width:auto;/* background-color: #e7e4e9; */">
	        				<div type="button" class="iconImageStyle" style="background-image: url('./img/LeftArrow.png');"></div>
	        			</div> -->
					<div class="col-md-2 iconImageDiv"
						style="height: inherit; padding-left: 0px; padding-right: 0px; background-color: transparent;">
						<img alt="" src="./img/LeftArrow.png" class="iconImageStyle"
							style="margin-right: -69px;">
					</div>
					<div class="col-md-3 iconImageDiv"
						style="height: inherit; background-color: #000000;">
						<div type="button" class="iconImageStyle"
							style="background-image: url('./img/Predictive-Analytics2.png');"></div>
					</div>
	
					<div class="col-md-7"
						style="height: inherit; background-color: #000000">
						<div class="col-md-12" style="height: 50px;">
							<div class="headingDivStyle">
								<h2>Predictive Analytics</h2>
							</div>
						</div>
						<div class="col-md-12" style="height: 200px; background-color:">
							<span class="spanDataStyle"> <span> &#149; </span>Get the
								prediction of the number of customers you can expect on any given
								day, based on the customer behavior extracted from customer
								analytics. This will facilitate you in planning your day work
								ahead.
							</span> <span class="spanDataStyle" style="margin-top: 3%"> <span>
									&#149; </span>You can count on your expected daily customer traffic
								which we provide you, which is rendered to you by running our
								analytics on the pattern of customer visits in past.
							</span>
						</div>
					</div>
				</div>
			</div>
			
			<div class="animation-element slide-left">
				<div class="row" class="divDecoration"
					style="height: 250px; /*  background-color:#000000 */; margin-top: 5%;">
					<!-- <div class="iconImageDiv" style="height:inherit;width:auto;/* background-color: #e7e4e9; */">
	        				<div type="button" class="iconImageStyle" style="background-image: url('./img/LeftArrow.png');"></div>
	        			</div> -->
					<div class="col-md-3 iconImageDiv"
						style="height: inherit; background-color: #000000;">
						<div type="button" class="iconImageStyle"
							style="background-image: url('./img/decision-tree-analytics.png');"></div>
					</div>
	
					<div class="col-md-7"
						style="height: inherit; background-color: #000000">
						<div class="col-md-12" style="height: 50px;">
							<div class="headingDivStyle">
								<h2>Decision Tree</h2>
							</div>
						</div>
						<div class="col-md-12" style="height: 200px; background-color:">
							<span class="spanDataStyle"> <span> &#149; </span>Prediction of the quantity of food materials that will be required throughout the day is rendered to you in advance, before your business day starts.
							</span> 
							<span class="spanDataStyle" style="margin-top: 3%"> 
							<span>&#149; </span>This makes it much simpler to work out inventory maintenance in advance without understocking and overstocking.
							</span>
						</div>
					</div>
					<div class="col-md-2 iconImageDiv"
						style="height: inherit; padding-left: 0px; padding-right: 0px; background-color: transparent;">
						<img alt="" src="./img/rightrrow.png" class="iconImageStyle"
							style="margin-left: -69px;">
					</div>
				</div>
			</div>
			
			<div class="animation-element2 slide-right">
				<div class="row" class="divDecoration"
					style="height: 250px; /*  background-color:#000000 */; margin-top: 5%;">
					<!-- <div class="iconImageDiv" style="height:inherit;width:auto;/* background-color: #e7e4e9; */">
	        				<div type="button" class="iconImageStyle" style="background-image: url('./img/LeftArrow.png');"></div>
	        			</div> -->
					<div class="col-md-2 iconImageDiv"
						style="height: inherit; padding-left: 0px; padding-right: 0px; background-color: transparent;">
						<img alt="" src="./img/LeftArrow.png" class="iconImageStyle"
							style="margin-right: -69px;">
					</div>
					<div class="col-md-3 iconImageDiv"
						style="height: inherit; background-color: #000000;">
						<div type="button" class="iconImageStyle"
							style="background-image: url('./img/review analytics.png');"></div>
					</div>
	
					<div class="col-md-7"
						style="height: inherit; background-color: #000000">
						<div class="col-md-12" style="height: 50px;">
							<div class="headingDivStyle">
								<h2>Sentiment Analysis</h2>
							</div>
						</div>
						<div class="col-md-12" style="height: 200px; background-color:">
							<span class="spanDataStyle"> <span> &#149; </span>We process the user reviews and we render the ready to use information based on the analytics on the user reviews, which have crucial information on customer expectations. 
							</span> <span class="spanDataStyle" style="margin-top: 3%"> <span>
									&#149; </span>Through the Sentiment Analysis of the user reviews, it is very easy to have a check on what is working and what is not working. This facilitates in making the customers happy.
							</span>
						</div>
					</div>
				</div>
			</div>
			
			<div class="animation-element slide-left">
				<div class="row" class="divDecoration"
					style="height: 250px; /*  background-color:#000000 */; margin-top: 5%;">
					<!-- <div class="iconImageDiv" style="height:inherit;width:auto;/* background-color: #e7e4e9; */">
	        				<div type="button" class="iconImageStyle" style="background-image: url('./img/LeftArrow.png');"></div>
	        			</div> -->
					<div class="col-md-3 iconImageDiv"
						style="height: inherit; background-color: #000000;">
						<div type="button" class="iconImageStyle"
							style="background-image: url('./img/push-notifications.png');"></div>
					</div>
	
					<div class="col-md-7"
						style="height: inherit; background-color: #000000">
						<div class="col-md-12" style="height: 50px;">
							<div class="headingDivStyle">
								<h2>Push Notifications</h2>
							</div>
						</div>
						<div class="col-md-12" style="height: 200px; background-color:">
							<span class="spanDataStyle"> <span> &#149; </span>We send the real time notifications to the subscribers who can benefit from discounts on the excess food in pantry, which otherwise has the potential of going to waste.
							</span> 
							<span class="spanDataStyle" style="margin-top: 3%"> 
							<span>&#149; </span>Through SMS on mobile phones as well as through native notifications inside the application, we communicate with our subscribers, who in turn help restaurants in reducing food wastage.
							</span>
						</div>
					</div>
					<div class="col-md-2 iconImageDiv"
						style="height: inherit; padding-left: 0px; padding-right: 0px; background-color: transparent;">
						<img alt="" src="./img/rightrrow.png" class="iconImageStyle"
							style="margin-left: -69px;">
					</div>
				</div>
			</div>
        </div>
    </div>

    <!-- Footer -->
    <footer style="">
        <div class="container text-center">
            <p style="font-size: 15px">Copyright &copy; FoodCoin 2016</p>
        </div>
    </footer>
