<div class="next-card1">
	<div class="">
		<div class="" style="padding-top: 0px">
			<div class="row" style="padding-left: 10px;padding-right: 10px">
				<!--<div class="panel panel-default">-->
				<div class="panel-heading"
					style="color: white; background-color: #FF5A5F">
					<div class="row">	
						<div class="col-md-8"><span style="font-size:40px;font-weight: bold">User Dashboard</span> </div>
						<div class="col-md-3" style="top:15px"><span class="" style="color: white;font-size: 14px;font-weight: bold;">Tell your Customers about Discounts</span></div>
						<div class="col-md-1"><span class="pull-right"><button ng-click="publishMessages()" class="btn btn-success btn-lg">Notify Customers</button></span></div>
					</div>
					
				</div>
				<div class="panel-body">
					<div class="col-md-12" style="color: white"><h4>These are our recommendations based on your data</h4></div>
					
					<div class="col-md-12">
						<div class="col-md-6" style="height: 400px">
							<div id="container-speed" style="width:100%"></div>
						</div>
	
						<div class="col-md-6" style="height: 400px">
							<div id="revenue" style="width: 100%"></div>
						</div>
					</div>
					
					<div class="col-md-12" style="margin-top: 15px">
						<div class="col-md-6" style="height: 400px">
							<div id="feedback" style="width: 100%"></div>
						</div>
						<div class="col-md-6" style="height: 400px">
							<div id="noOfGuests" style="width: 100%"></div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>