    <nav class="header-include navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                
                <div>
                	<a class="navbar-brand page-scroll" ui-sref="index">
                    	<img alt="" style="height: 30px;width: 130px" src="img/foodcoin.png">
               		 </a>
                </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a target="_self" href="#page-top"></a>
                    </li>
                    <li>
						<button ui-sref="index" class="btn btn-default btn-lg text-center">
								Back To Home Page
						</button>
					</li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>