.header-include
{
	padding:0px;
	width: 100%;
    position: fixed;
    top: 0;
    /* height: 10%; */
    background-color: black;
    z-index: 50;
}

#graph {
    height: 400px; 
    min-width: 310px; 
    max-width: 800px;
    margin: 0 auto;
}

#signIn {
	width: 100%;
	background: url(../img/signin.jpeg) no-repeat bottom center scroll;
	background-color: black;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

#about {
	width: 100%;
	background: url(../img/about.jpg) no-repeat bottom center scroll;
	background-color: black;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

#demo {
	width: 100%;
	background: url(../img/demo.jpg) no-repeat bottom center scroll;
	background-color: black;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

#detailsFoodcoin{
	width: 100%;
	background: url(../img/demo.jpg) no-repeat bottom center scroll;
	background-color: black;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.sectionHeight {
    height: 725px;
}

.displayBlockStyle{
	display: block;
}

@media (min-width: 768px)
.sectionHeight {
    height: 100%;
    padding: 0;
}

.bgGradient{
  	background: linear-gradient(rgba(1,0,0,0.75), rgba(1,0,0,0.75));
  	/* height: 700px; */
  }
  
  
/* Login Signup Page CSS */
.bgColor{
	background: rgb(238, 238, 238) none repeat scroll 0 0;
}

 .thumb-image{
  	width:135px !important;
  	height:65px !important;
  	margin-top: 30px;
 }
 
 .field-margin{ 
 	margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
 }

.divBorder{
	border: 1px solid #ccc; 
	border-radius: 3px;
}

/* #signinStyling{
	font-family: "Helvetica neue",Helvetica,Arial,sans-serif;
	color : #000000;
}

#signinStyling a:ACTIVE{
	font-family: "Helvetica neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
	color: #42DCA3;
}

#registerStyling{
	font-family: "Helvetica neue",Helvetica,Arial,sans-serif;
	color : #000000;
}

#registerStyling a:ACTIVE{
	font-family: "Helvetica neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
	color: #42DCA3;
} */

.signInDiv{
	background: #fff none repeat scroll 0 0;
	font-family: "Helvetica neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1em;
    margin: auto;
    width: 100%;
    min-height: 275px;
    height: auto;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.signUpDiv{
	background: #fff none repeat scroll 0 0;
	font-family: "Helvetica neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1em;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: auto;
    width: 100%;
    min-height: 450px;
    height: auto;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.btnLayout{
	/* background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #0079bc, #00509d) repeat scroll 0 0 !important; */
    color: white !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    height: 45px !important;
    width: 100% !important;
}

.width-50{
	width: 50%;
}

.tabs-style{
	font-size: 18px;
}

.aw-bg {
	background-image: url("travel.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.text-red {
	color: #e60000;
}

.text-white {
	color: #FFFFFF;
}

.vid-bg {
	background: rgba(0, 0, 0, 0) linear-gradient(rgba(1, 0, 0, 0.6),
		rgba(1, 0, 0, 0.6)) repeat scroll 0 0;
	height: auto;
	padding-bottom: 2%;
	width: 100%;
}

.vid-bg-copy {
	background: rgba(0, 0, 0, 0) linear-gradient(rgba(1, 0, 0, 0.6),
		rgba(1, 0, 0, 0.6)) repeat scroll 0 0;
	height: auto;
	padding-bottom: 2%;
	/* width: 100%; */
}

.margin-top-15 {
	margin-top: 15px;
}
.modal-backdrop {
  z-index: -1;
}

.text-size-40 {
	font-size: 40px;
}
.error-msg
{
    color: red;
    font-size: 12px;
    display: block;
    margin-left: 20px;
    
}
/* Login Signup Page CSS  Ends*/

.samplescreen-vid-bg {
	background: rgba(0, 0, 0, 0) linear-gradient(rgba(1, 0, 0, 0.6),
		rgba(1, 0, 0, 0.6)) repeat scroll 0 0;
	height: 600px;
	padding-bottom: 2%;
}

.iconImageDiv{
	height:inherit;
	/* padding-right: 0px !important; */
}

.iconImageStyle{
	/* background-image: url("ItemsThumb.jpeg"); */
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height:inherit;
	/* width:100%; */
	/* margin-left: 10px; */
	font-family: "Helvetica Neue",Helvetica,Arial,Roboto,sans-serif;
}

.countIconPic{
	height:56px;
	width:56px;
	border-radius: 50%;
	border: 1px solid white;
}

.spanDataStyle{
	font-size: 17px;
    line-height: 1.6;
    float: left;
    text-align: justify;
}


/*///////////////////////////////////////////////
CSS For Left to Right Animation
//////////////////////////////////////////////*/
/*animation element sliding left*/

.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 1000ms linear;
  -webkit-transition: all 1000ms linear;
  -o-transition: all 1000ms linear;
  transition: all 1000ms linear;
  -moz-transform: translate3d(-400px, 0px, 0px);
  -webkit-transform: translate3d(-400px, 0px, 0px);
  -o-transform: translate(-400px, 0px);
  -ms-transform: translate(-400px, 0px);
  transform: translate3d(-400px, 0px, 0px);
}

.animation-element.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}


/*///////////////////////////////////////////////
END Of CSS For Left to Right Animation
//////////////////////////////////////////////*/


/*///////////////////////////////////////////////
CSS For Left to Right Animation
//////////////////////////////////////////////*/
/*animation element sliding left*/

.animation-element2.slide-right {
  opacity: 0;
  -moz-transition: all 1000ms linear;
  -webkit-transition: all 1000ms linear;
  -o-transition: all 1000ms linear;
  transition: all 1000ms linear;
  -moz-transform: translate3d(400px, 0px, 0px);
  -webkit-transform: translate3d(400px, 0px, 0px);
  -o-transform: translate(400px, 0px);
  -ms-transform: translate(400px, 0px);
  transform: translate3d(400px, 0px, 0px);
}

.animation-element2.slide-right.in-view2 {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}


/*///////////////////////////////////////////////
END Of CSS For Left to Right Animation
//////////////////////////////////////////////*/

/*///////////////////////////////////////////////
CSS For Left to Right Animation
//////////////////////////////////////////////*/
/*animation element sliding left*/

.bounce-up .subject {
  opacity: 0;
  -moz-transition: all 700ms ease-out;
  -webkit-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
  -moz-transform: translate3d(0px, 400px, 0px);
  -webkit-transform: translate3d(0px, 400px, 0px);
  -o-transform: translate(0px, 400px);
  -ms-transform: translate(0px, 400px);
  transform: translate3d(0px, 400px, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bounce-up.in-view3 .subject {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}


/*///////////////////////////////////////////////
END Of CSS For Left to Right Animation
//////////////////////////////////////////////*/

.subscribeOption{
	position: fixed;
    bottom: 0px;
    right: 5%;
}


/*///////////////////////////////////////////////
CSS For Form
//////////////////////////////////////////////*/

.form-style-6{
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
    background: #F7F7F7;
}
.form-style-6 h1{
    background: #43D1AF;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}
.form-style-6 input[type="text"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select 
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus
{
    box-shadow: 0 0 5px #43D1AF;
    padding: 3%;
    border: 1px solid #43D1AF;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #43D1AF;
    border-bottom: 2px solid #30C29E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;    
    color: #fff;
}
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover{
    background: #2EBC99;
}
/*///////////////////////////////////////////////
END CSS For form
//////////////////////////////////////////////*/
