#graph2 {
    height: 400px; 
    min-width: 310px; 
    max-width: 800px;
    margin: 0 auto;
}

#signIn {
	width: 100%;
	background: url(../img/signin.jpeg) no-repeat bottom center scroll;
	background-color: black;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

#about {
	width: 100%;
	background: url(../img/about.jpg) no-repeat bottom center scroll;
	background-color: black;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

#demo {
	width: 100%;
	background: url(../img/demo.jpg) no-repeat bottom center scroll;
	background-color: black;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

#detailsFoodcoin{
	width: 100%;
	background: url(../img/demo.jpg) no-repeat bottom center scroll;
	background-color: black;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.sectionHeight {
    height: 725px;
}

.displayBlockStyle{
	display: block;
}

@media (min-width: 768px)
.sectionHeight {
    height: 100%;
    padding: 0;
}

.bgGradient{
  	background: linear-gradient(rgba(1,0,0,0.75), rgba(1,0,0,0.75));
  	/* height: 700px; */
  }
  
  
/* Login Signup Page CSS */
.bgColor{
	background: rgb(238, 238, 238) none repeat scroll 0 0;
}

 .thumb-image{
  	width:135px !important;
  	height:65px !important;
  	margin-top: 30px;
 }
 
 .field-margin{ 
 	margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
 }

.divBorder{
	border: 1px solid #ccc; 
	border-radius: 3px;
}

/* #signinStyling{
	font-family: "Helvetica neue",Helvetica,Arial,sans-serif;
	color : #000000;
}

#signinStyling a:ACTIVE{
	font-family: "Helvetica neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
	color: #42DCA3;
}

#registerStyling{
	font-family: "Helvetica neue",Helvetica,Arial,sans-serif;
	color : #000000;
}

#registerStyling a:ACTIVE{
	font-family: "Helvetica neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
	color: #42DCA3;
} */

.signInDiv{
	background: #fff none repeat scroll 0 0;
	font-family: "Helvetica neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1em;
    margin: auto;
    width: 100%;
    min-height: 275px;
    height: auto;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.signUpDiv{
	background: #fff none repeat scroll 0 0;
	font-family: "Helvetica neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1em;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: auto;
    width: 100%;
    min-height: 450px;
    height: auto;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.btnLayout{
	/* background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #0079bc, #00509d) repeat scroll 0 0 !important; */
    color: white !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    height: 45px !important;
    width: 100% !important;
}

.width-50{
	width: 50%;
}

.tabs-style{
	font-size: 18px;
}

.aw-bg {
	background-image: url("travel.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.text-red {
	color: #e60000;
}

.text-white {
	color: #FFFFFF;
}

.vid-bg {
	background: rgba(0, 0, 0, 0) linear-gradient(rgba(1, 0, 0, 0.6),
		rgba(1, 0, 0, 0.6)) repeat scroll 0 0;
	height: 700px;
}

.margin-top-15 {
	margin-top: 15px;
}

.text-size-40 {
	font-size: 40px;
}
.error-msg
{
    color: red;
    font-size: 12px;
    display: block;
    margin-left: 20px;
    
}
/* Login Signup Page CSS  Ends*/