<!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" target="_self" href="#page-top">
                    <img alt="" style="height: 30px;width: 130px" src="img/foodcoin.png">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a target="_self" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" target="_self" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" target="_self" href="#demo">Demo</a>
                    </li>
                    <li>
                        <a class="page-scroll" target="_self" href="#signIn">Sign in / Register</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">FoodCoin</h1>
                        <p class="intro-text"> INTRO PARA </p>
                        <a target="_self" href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section sectionHeight text-center" style="padding-bottom: 5%;">
        <div class="row">
            <div class="col-md-12">
                <h2>About FoodCoin</h2>
                <p> Details </p>
                <a target="_self" ui-sref="foodcoinDetails" class="btn btn-default btn-lg">More Details</a>
            </div>
            <div class="col-md-12" style="padding-left: 48%;">
            	<a target="_self" href="#demo" class="btn btn-circle page-scroll displayBlockStyle">
                	<i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
        </div>
    </section>

    <!-- Demo Section -->
    <section id="demo" class="container content-section sectionHeight text-center" style="padding-bottom: 5%;">
        <div class="row" 	">
            <div class="col-md-12">
                <h2>Have a Demo of what we offer</h2>
                <p>You can insert your data and we will give you suggestions according to it.</p>
                <p>If you find it useful, come join us and explore more services.</p>
                <a target="_self" href="" class="btn btn-default btn-lg">Demo</a>
             </div>
             <div class="col-md-12" style="padding-left: 48%;">    
                <a target="_self" href="#signIn" class="btn btn-circle page-scroll displayBlockStyle">
            		<i class="fa fa-angle-double-down animated"></i>
            	</a>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="signIn" class="container content-section sectionHeight text-center" style="padding-bottom: 5%;">
        <div class="row" 	">
            <div class="col-md-12">
                <h2>User Sign In</h2>
                <p>Sign In to Maximize your Revenue and Reduce food wastage!</p>
                <button data-toggle="modal" data-target="#signInModal1" class="btn btn-default btn-lg text-center">
					Sign In 
				</button>
            </div>
            <div class="col-md-12" style="margin-top: 25px">
            	<h2>Register</h2>
                <p>Want to Enjoy FoodCoin Services. Come Register with us !!!</p>
                <button data-toggle="modal" data-target="#registerationModal1" class="btn btn-default btn-lg text-center">
						Register
				</button>
             </div>
             <div class="col-md-12" style="padding-left: 48%;">
                <a target="_self" href="#page-top" class="btn btn-circle page-scroll displayBlockStyle">
               		<i class="fa fa-angle-double-up animated"></i>
               	</a>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer style="">
        <div class="container text-center">
            <p style="font-size: 15px">Copyright &copy; FoodCoin 2016</p>
        </div>
    </footer>
    
     <!-- Modal Sign In-->
	<div class="modal fade" id="signInModal1" role="dialog">
		<div class="modal-dialog" style="width: 90%;">
	
			<!-- Modal content-->
			<div class="modal-content" style="margin-right: auto;margin-left: auto;height: 100%; width: 50%;background: linear-gradient(rgba(1,0,0,0.9), rgba(1,0,0,0.75))	">
				<div class="modal-header modalHeader">
					<button type="button" class="close" style="color:white;" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Sign In</h4>
				</div>
				<div class="modal-body" style="height: 100%">
					
				</div>
			</div>
		</div>
	</div>
	
	 <!-- Modal Registeration-->
	<div class="modal fade" id="registerationModal1" role="dialog">
		<div class="modal-dialog" style="width: 90%;">
	
			<!-- Modal content-->
			<div class="modal-content" style="margin-right: auto;margin-left: auto;height: 100%; width: 50%;background: linear-gradient(rgba(1,0,0,0.9), rgba(1,0,0,0.75))	">
				<div class="modal-header modalHeader">
					<button type="button" class="close" style="color:white;" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Register</h4>
				</div>
				<div class="modal-body" style="height: 100%">
					
				</div>
			</div>
	
		</div>
	</div>
    